{
    presets: [ "es2015", "react" ],
    plugins: [
        "lodash",
        "react-require",
        "transform-object-rest-spread",
        "transform-react-jsx"
    ],
    env: {
        development: {
            presets: ["react-hmre"]
        }
    }
}
