{
    env: {
        development: {
            presets: [
                ["env", {
                    targets: {
                        browsers: ["last 2 versions", "ie >= 11"]
                    },
                    includes: ["transform-object-rest-spread"],
                    modules: false,
                    useBuiltIns: true
                }],
                "react",
                "react-hmre"
            ]
        },
        test: {
            presets: [
                ["env", {
                    targets: {
                        browsers: ["last 2 versions", "ie >= 11"]
                    },
                    includes: ["transform-object-rest-spread"],
                    useBuiltIns: true
                }],
                "react"
            ]
        }
    },
    plugins: ["lodash"],
    presets: [
        ["env", {
            targets: {
                browsers: ["last 2 versions", "ie >= 11"]
            },
            includes: ["transform-object-rest-spread"],
            modules: false,
            useBuiltIns: true
        }],
        "react"
    ]
}
