{
  'parser': 'babel-eslint',
  'env': {
    'browser': true,
    'jest': true
  },
  'extends': 'airbnb',
  'globals': {
  },
  'rules': {
    'arrow-parens': ['error', 'as-needed'],
    'class-methods-use-this': 1,
    'comma-dangle': ['error', 'never'],
    'import/extensions': 0,
    'import/no-extraneous-dependencies': 0,
    'import/no-unresolved': 0,
    'indent': ['error', 4],
    'no-plusplus': ['error', { 'allowForLoopAfterthoughts': true }],
    'react/jsx-indent': [2, 4],
    'react/jsx-indent-props': [2, 4],
    'react/react-in-jsx-scope': 0,
    'react/require-default-props': 0,
    'space-before-function-paren': 0
  }
}
