@import 'variables';

.sbm-button {
    background-color: $btn-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    color: $normal-text-color;
    cursor: pointer;
    font-family: $font-family;
    font-size: 14px;
    padding: 6px 12px;

    /** undoing bootstrap, zk **/
    line-height: normal;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $btn-hover-color;
    }

    &--primary {
        background-color: $btn-primary-color;
        border-color: #397fba;
        color: #fff;

        &:hover {
            background-color: $btn-primary-hover-color;
            border-color: #285e8e;
        }
    }

    &--secondary {
        border-width: 0;
        color: #006699;

        &:hover {
            background-color: #fff;
            color: #fc6835;
            text-decoration: underline;
        }
    }
}

.sbm-days-picker {
    &__S,
    &__M,
    &__T,
    &__W,
    &__Th,
    &__F,
    &__Sa {
        border-style: dashed;
        color: $border-color;
        padding: 6px 0;
        width: 35px;
    }

    &__S {
        border-radius: 4px 0 0 4px;
    }

    &__M,
    &__T,
    &__W,
    &__Th,
    &__F {
        border-radius: 0;
        margin-left: -1px;
    }

    &__Sa {
        border-radius: 0 4px 4px 0;
        margin-left: -1px;
    }

    &--selected {
        background-color: $panel-header-background-color;
        border-style: solid;
        color: $normal-text-color;
        z-index: 1;
    }
}
