@import 'variables';

.sbm-form-group {
    border: 1px solid $border-color;
    border-radius: 4px;

    &__title {
        background-color: $panel-header-background-color;
        border-bottom: 1px solid $border-color;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-weight: bold;
        padding: 8px 15px;
    }

    &__container {
        padding: 8px 15px;
    }
}

.sbm-form-item {
    align-items: center;
    display: flex;
    line-height: 30px;
    padding: 5px 0;

    &__error {
        color: $error-color;
        display: flex;
        margin-top: -5px;
        padding: 3px 0 5px 0;
    }

    &__no-required-icon {
        width: 24px;
    }

    &__required-icon {
        color: $error-color;
        font-size: 8px;
        margin: 0 8px;
    }

    /** undoing bootstrap, zk **/
    > label {
        font-weight: normal;
        margin-bottom: 0;
    }
}

