@import 'variables';

.sbm-checkbox {
    align-items: center;
    cursor: pointer;
    display: flex;

    /** undoing bootstrap, zk **/
    font-weight: normal;
    margin-bottom: 0;

    > input[type="checkbox"], input[type="radio"] {
        cursor: pointer;

        /** undoing bootstrap, zk **/
        margin: 0 6px 0 0;
    }
}

.sbm-input {
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 12px;

    /** Undoing bootstrap, zk **/
    box-sizing: initial;
    line-height: normal;
}

.sbm-select {
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 4px;
    height: 30px;
}

.sbm-switch-toggle {
    border: 1px solid $border-color;
    border-radius: 4px;
    height: 30px;
    padding: 0 5px;
    position: relative;

    &__label {
        color: #999;
        height: 28px;
        padding: 0 5px;
        position: relative;
        top: -1px;
        transition: color 0.15s ease-out;
        width: 42px;

        /** Undoing bootstrap, zk **/
        font-weight: normal;
        margin-bottom: 0;
    }

    &__input {
        display: none;

        &--selected {
            color: #fff;
        }
    }

    &__selection {
        background-color: $btn-primary-color;
        border-radius: 4px;
        height: 24px;
        position: absolute;
        top: 2px;
        transition: left 0.15s ease-out;
        width: 46px;
        z-index: -1;

        &--0 {
            left: 2px;
        }

        &--1 {
            left: 46px;
        }
    }
}
