.sbm-message-bar {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    padding: 10px 15px;

    /** undoing bootstrap, zk **/
    line-height: normal;

    &__icon {
        margin-right: 20px;
    }

    &__message {
        display: block;
        flex-shrink: 1;
        font-size: 14px;
    }

    &--info {
        background-color: #d9edf6;
        border-color: #bee8f1;
        color: #3e88ab;
    }
}
