@import 'variables';

.lm-top-header {
    align-items: center;
    border-bottom: 1px solid $border-color;
    display: flex;
    padding: 0 10px 0 20px;

    &__application-name {
        color: #ccc;
        flex-grow: 1;
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
    }

    &__menus {
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    &__logout {
        flex-grow: 1;
        text-align: right;
    }
}

.lm-top-header-menu {
    display: flex;
    flex-grow: 1;

    &__item {
        color: $normal-text-color;
        cursor: pointer;
        padding: 10px 20px;
        text-decoration: none;

        &:hover {
            color: #fc672F;
        }
    }
}
