$border-color: #eee;
$btn-color: #fff;
$btn-hover-color: #ebebeb;
$btn-primary-color: #428bca;
$btn-primary-hover-color: #3071a9;
$error-color: #b74b4b;
$font-family: "Open Sans", Helvetica, sans-sarif, Arial;
$normal-text-color: #333;
$panel-header-background-color: #f5f5f5;
