@import 'components/button';
@import 'components/chart';
@import 'components/form';
@import 'components/input';
@import 'components/message-bar';
@import 'components/popup';
@import 'header';
@import 'login';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #fff;
    color: $normal-text-color;
    font-family: $font-family;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.lm-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}
