@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$normal-text-color: #333;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #fff;
    color: $normal-text-color;
    font-family: Open Sans;
    font-size: 14px;
}
